---
layout: page
title: Reunión de mayo de 2015
---
{% block content %}
    <div class="row">
        <h1>Reunión de mayo de 2015</h1>
        <div class="col-md-6">
            {% include 'venues/inventoteca.html.twig' %}
        </div>
        <div class="col-md-6">
            <br>
            <p>
                En esta ocasión la reunión fue en la
                <a href="http://www.inventoteca.com/">Inventoteca</a>.
            </p>
            <p>Contamos con un total de 3 pláticas</p>
            <p class="lead">¡No te pierdas las siguiente!</p>
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/ravSQDUfH-U" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/talk/view/14608" target="_blank" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">Program to an interface, not an implementation. </p>
            <p class="text-muted text-center">
                En esta charla se intentará explicar por medio de un ejemplo de código el Design Principle de Program
                to an 'interface', not an 'implementation.
            </p>
            {% include 'team/jmolivas.html.twig' %}
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/QxUf7_H1qTU" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/talk/view/14607" target="_blank" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">Creando la arquitectura MVC desde PHP</p>
            <p class="text-muted text-center">
                En la actualidad muchos desarrolladores web necesitamos de un patrón de diseño para poder realizar
                proyectos más rápidamente, para ello existen los frameworks con arquitectura MVC.
            </p>
            {% include 'team/moisesespindola.html.twig' %}
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/mSIKtkfLZd4" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">Frameworks, ¿usarlos o no usarlos?</p>
            <p class="text-muted text-center">
                En esta mesa de discusión se expondrán ventajas y desventajas sobre frameworks, cuándo usarlos, como
                elegirlos, etc.
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/meetups/2015/mayo/mayo-2015-1.jpg" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/images/meetups/2015/mayo/mayo-2015-2.jpg" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/images/meetups/2015/mayo/mayo-2015-3.jpg" class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
                href="https://www.facebook.com/media/set/?set=a.798097820297156.1073741850.390406104399665&type=3"
                class="btn btn-block btn-primary btn-lg"
                target="_blank"
                >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
    <h2><span class="glyphicon glyphicon-user"></span> Asistentes </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/montealegreluis.html.twig' %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                {% include 'team/michmendar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
