---
layout: page
title: PHPSession de septiembre de 2015
---
{% block content %}
    <div class="row">
        <h1>PHPSession de agosto de 2015</h1>
        <div class="col-md-6">{% include 'venues/inventoteca.html.twig' %}</div>
        <div class="col-md-6">
            <p>
                Queremos agradecer a la <strong>Inventoteca</strong> por permitirnos hacer
                el PHPSession en sus instalaciones.
            </p>
            <p>
                <a href="http://inventoteca.com/" target="_blank">
                    <img
                        src="/images/sponsors/inventoteca.jpg"
                        class="img-responsive img-rounded center-block"
                        alt="Inventoteca">
                </a>
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-comment"></span> Pláticas</h2>
    <div class="row well">
        <div class="row">
            <div class="col-md-6">{% include 'meetups/talks/ecommerce.html.twig' %}</div>
            <div class="col-md-6">{% include 'team/adrianlopez.html.twig' %}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/vRU6laO5BtQ" allowfullscreen></iframe>
                </div>
                <a href="https://joind.in/15395" target="_blank" class="btn btn-primary btn-lg btn-block joindin">
                    <span class="glyphicon glyphicon-star"></span> Califica esta plática
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="row">
            <div class="col-md-6">{% include 'meetups/talks/spas.html.twig' %}</div>
            <div class="col-md-6">{% include 'team/jesuscruz.html.twig' %}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/bIgr2FvGgIs" allowfullscreen></iframe>
                </div>
                <a href="https://joind.in/15396" target="_blank" class="btn btn-primary btn-lg btn-block joindin">
                    <span class="glyphicon glyphicon-star"></span> Califica esta plática
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">{% include 'meetups/talks/docker202.html.twig' %}</div>
        <div class="col-md-6">{% include 'team/miguelangelgordian.html.twig' %}</div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/quPtiyBl7As" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-12">
            <a href="https://joind.in/15397" target="_blank" class="btn btn-primary btn-lg btn-block joindin">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/meetups/2015/septiembre/sept-1.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/images/meetups/2015/septiembre/sept-2.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/images/meetups/2015/septiembre/sept-3.png" class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
            href="https://www.facebook.com/media/set/?set=a.857551161018488.1073741854.390406104399665&type=3"
            class="btn btn-block btn-primary btn-lg"
            target="_blank"
        >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
{% endblock %}
