---
layout: page
title: PHPSession de junio de 2015
---
{% block content %}
    <div class="row">
        <h1>PHPSession de junio de 2015</h1>
        <div class="col-md-6">{% include 'venues/idit.html.twig' %}</div>
        <div class="col-md-6">
            <p>
                Queremos agradecer al <strong>IDIT</strong> de la IBERO por permitirnos hacer
                el PHPSession en sus instalaciones.
            </p>
            <p>
                <a href="http://www.iberopuebla.edu.mx/micrositios/IDIT/" target="_blank">
                    <img
                        src="/images/sponsors/idit-ibero.png"
                        class="img-responsive img-rounded center-block"
                        alt="IDIT">
                </a>
            </p>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-comment"></span> Pláticas</h2>
    <div class="row well">
        <div class="col-md-6">{% include 'meetups/talks/cloudcomputing.html.twig' %}</div>
        <div class="col-md-6">{% include 'team/tecayehuatl.html.twig' %}</div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/RhkF4_ZDuBg" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/talk/view/14687" target="_blank" class="btn btn-primary btn-lg btn-block joindin">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">{% include 'meetups/talks/appwebbackbone.html.twig' %}</div>
        <div class="col-md-6">{% include 'team/igasi.html.twig' %}</div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/wt3lFuhclr8" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/talk/view/14688" target="_blank" class="btn btn-primary btn-lg btn-block joindin">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
    </div>
    <br>
    <div class="row well">
        <div class="col-md-6">{% include 'meetups/talks/docker101.html.twig' %}</div>
        <div class="col-md-6">{% include 'team/miguelangelgordian.html.twig' %}</div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.youtube.com/embed/QOw42XGV5x0" allowfullscreen></iframe>
            </div>
            <a href="https://joind.in/talk/view/14689" target="_blank" class="btn btn-primary btn-lg btn-block joindin">
                <span class="glyphicon glyphicon-star"></span> Califica esta plática
            </a>
        </div>
    </div>
    <h2><span class="glyphicon glyphicon-picture"></span> Galería</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/meetups/2015/junio/junio-2015-1.jpg" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/images/meetups/2015/junio/junio-2015-2.jpg" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/images/meetups/2015/junio/junio-2015-3.jpg" class="img-responsive img-rounded center-block">
        </div>
    </div>
    <br>
    <div class="row">
        <a
            href="https://www.facebook.com/media/set/?set=a.813745498732388.1073741852.390406104399665&type=3"
            class="btn btn-block btn-primary btn-lg"
            target="_blank"
            >
            <i class="fa fa-facebook"></i> Ver el album completo
        </a>
    </div>
{% endblock %}
