<!DOCTYPE html>
<html>
    <head>
        {% include 'components/head.html.twig' %}
    </head>
    <body>
        <span id="forkongithub"><a href="https://github.com/ComPHPPuebla/sitio-web" target="_blank">Fork me on GitHub</a></span>
        <header>
            {% include 'components/navigation.html.twig' %}
        </header>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-md-4">
                    {% include 'components/sidebar-meetup.html.twig' %}
                </div>
            </div>
        </div>
        <footer>
            {% include 'components/footer.html.twig' %}
        </footer>

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"
        ></script>
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"
        ></script>
        {% include 'components/analytics.html' %}
    </body>
</html>
