<div class="panel panel-default">
    <div class="panel-heading">Organizadores PHPSession</div>

    <div class="panel-body">
        <p class="lead">
            ¡Estamos en búsqueda de organizadores!!! si estás interesad@ por favor
            mándame un <a href="mailto:luis.montealegre@comunidadphppuebla.com">
            correo</a>
        </p>
    </div>
</div>
