<div class="panel panel-default">
    <div class="panel-heading">Siguiente PHPSession</div>

    <div class="panel-body">
        <h3><span class="glyphicon glyphicon-time"></span> Fecha</h3>
        <p>Sábado 1 de agosto de 2015 de 12 a 15 hrs.</p>

        <h3> <span class="glyphicon glyphicon-home"></span> Lugar</h3>

        {# Change this include monthly #}
        {% include 'venues/fcc.html.twig' %}

        <h3><span class="glyphicon glyphicon-comment"></span> Pláticas</h3>

        {# Change this include monthly #}
        {% include 'meetups/2015-07.html.twig' %}
    </div>
</div>
