<p class="lead text-center">Aplicaciones Web con Backbone</p>
<p class="text-muted text-center">
Las aplicaciones y páginas web están haciendo uso de código javascript cada vez en mayor cantidad para proporcionar aplicaciones con funcionalidades más complejas.
<br>
A pesar de las facilidades que proporcionan librerías como jQuery para manipular los elementos de una página web de forma dinámica, mucho código mal estructurado puede llegar a convertirse en un perfecto código espagueti.
<br>
Backbone.js trata de de resolver algunos de estos problemas proporcionando un marco para organizar el código. Backbone.js en esencia en una librería modelo-vista-controlador (MVC) para javascript.
<br>
En esta charla hablaremos principalmente sobre:
<ul>
	<li>Introducción Backbone.js</li>
	<li>Implementación</li>
	<li>Consumiendo la API REST</li>
	<li>Uso con Headless Drupal</li>
</ul>
</p>

{% include 'team/igasi.html.twig' %}
