<p class="lead text-center">
    Aplicaciones Web Accesibles
    <small class="text-muted"><em>Duracion: 15 minutos</em></small>
</p>

<p class="text-muted text-center">
    ARIA significa Accessible Rich Internet Applications, Accesibilidad para
    contenido web, con información semántica sobre los widgets, estructuras y
    comportamientos, con el fin de permitir que las ayudas técnicas puedan
    transmitir la información apropiada a las personas con discapacidad, que
    utilizan tecnologías de asistencia (AT) para interactuar con el contenido.
</p>
{% include 'team/profesorantonio.html.twig' %}
