<p class="lead text-center">
    Cloud Computing: El nuevo modelo de cómputo distribuido 
    <br>
    <small class="text-muted"><em>Duracion: 30 minutos</em></small>
</p>
<p class="text-muted text-center">
    "Cloud computing" es un nuevo modelo de prestación de servicios de negocio y tecnología, que permite al usuario acceder a un catalogo de servicios estandarizados y responder a las necesidades de su negocio, de forma flexible y adaptativa, en caso de demandas no previsibles o de picos de trabajo, pagando únicamente por el consumo efectuado.
    <br><br>
    En la presente charla daré a conocer los pilares que soportan al cómputo en la nube, los diferentes tipos de nube que existen, y mi experiencia trabajando con OpenStack.
    
</p>

{% include 'team/tecayehuatl.html.twig' %}