<p class="lead text-center">
    Aplicaciones Web con CodeIgniter
    <small class="text-muted"><em>Duracion: 1 hora</em></small>
</p>
<p class="text-muted text-center">
    El lenguaje de programación más usado en la web, aveces ha tenido criticas
    por su estructura en los proyectos, pero para esto han nacido los frameworks
    y te hablaré de unos de los más populares y robustos como lo es CodeIgniter,
    te enseñaré a usarlo y porque enamorarte de él y además como usarlo
    adecuadamente.
</p>

{% include 'team/juanfranco.html.twig' %}