<p class="lead text-center">
    Docker 101
    <br>
    <small class="text-muted"><em>Duracion: 1 hora</em></small>
</p>

<p class="text-muted text-center">
    Docker es un tema muy sonado últimamente, debido a que propone un nuevo modelo
    que impacta directamente en la productividad de los desarrolladores, ya sea
    en el desarrollo o en la distribución de aplicaciones.
    <br/>
    Docker podemos entenderlo como una plataforma que propone construir, distribuir
    y ejecutar aplicaciones de forma homogénea en distintas infraestructuras y
    ambientes como son testing y producción.
    <br/>
    En esta charla se expondrá un panorama general que se enfocara en:
    <ul>
        <li>Docker</li>
        <li>Imágenes y Contenedores</li>
        <li>Ciclo de vida</li>
        <li>Volúmenes</li>
        <li>Compose</li>
        <li>Machine</li>
    </ul>
</p>
