<p class="lead text-center">
    How to dockerify your PHP development environment
    <br>
    <small class="text-muted"><em>Duracion: 30 minutos</em></small>
</p>
<p class="text-muted text-center">
  En esta charla hablaremos de las ventajas/desventajas de utilizar <a href="https://www.docker.com/">Docker</a> en ambientes de desarrollo para PHP.
  <br/>
  Docker facilita el aislamiento de todos los componentes utilizados del lado del servidor, hablaremos de los pecados que cometemos al seguir pensando en un ambiente LAMP y como solucionarlos sin morir en el intento.
</p>
