<p class="lead text-center">
    Docker 201
    <br>
    <small class="text-muted"><em>Duración: 1 hora</em></small>
</p>

<p class="text-muted text-center">
    Conociendo la terminología y los conceptos básicos de Docker, podemos ahora
    enfocarnos en definir servicios usando contenedores, distribuir nuestra aplicación,
    controlar remotamente nuestros servicios y monitorearlos.
    <br/>
    <ul>
        <li>Docker API</li>
        <li>Docker Machine</li>
        <li>Service Discovery</li>
        <li>Manejo de logs de los contenedores</li>
        <li>Provisioning con docker y ansible</li>
        <li>Monitoreo de contenedores</li>
    </ul>
</p>
