<p class="lead text-center">
    Exposición y Conclusiones de Estudio Científico sobre Comercio Electrónico
    <br>
    <small class="text-muted"><em>Duracion: 30 minutos</em></small>
</p>

<p class="text-muted text-center">
    Esta plática explica los resultados obtenidos durante 10 años de trabajo con
    comercio electrónico, desde la validación de la idea, UX, seguridad, hasta
    la adquisición de usuarios.
</p>
