<p class="lead text-center">
    Frameworks, ¿usarlos o no usarlos?
    <br>
    <small class="text-muted"><em>Duracion: 30 minutos</em></small>
</p>
<p class="text-muted text-center">
    En esta mesa de discusión <strong>tod@s están invitad@s</strong> a participar y que nos platiquen sus experiencias.
    Se expondrán ventajas y desventajas sobre frameworks, cuándo usarlos, como elegirlos, etc.
    <br>
</p>


