<p class="lead text-center">
    El front-end con componentes (React.js)
    <small class="text-muted"><em>Duracion: 30 minutos</em></small>
</p>

<p class="text-muted text-center">
    El front-end hoy es algo muy poderoso, la llegada de HTML5 con su paquete de tecnologías hizo dar un salto muy grande en la web, javascript ahora tiene más poder que nunca.
    <br>
    La web ahora ofrece muchisimos servicios, Facebook, Twitter, Instagram, Google, YouTube, entre otros, son tan complejos que si se desarrollaran de manera tradicional tendríamos por seguro que no disfrutaríamos usarlos, nuestro navegador tiene que procesar mucha información que probablemente no nos damos cuenta de que sucede.
    <br>
    Si contamos todo lo que compone la interfaz de YouTube, nos daremos cuenta que al menos hay más de 50 componentes y estos se repiten por cada cambio de pagina, ahora imagina al navegador tener que construirlos cada vez que cambias de video, es un trabajo innecesario. Con React.js, vamos a platicar de una nueva forma de hacer front-end para aplicaciones tan complejas como estas y como puedes iniciar.
</p>
