<p class="lead text-center">
    C칩mo hackear un sitio Web
    <br>
    <small class="text-muted"><em>Duracion: 1 hora</em></small>
</p>

<p class="text-muted text-center">
    Durante una hora conocer치n los principales ataques a sitios Web, se
    realizar치n practicas para atacar un sitio Web real y se mostrar치n todos los
    pasos necesarios para proteger el sitio de los ataques realizados en la
    charla.
</p>
