<p class="lead text-center">
    TDD 101 con PHPUnit
    <br>
    <small class="text-muted"><em>Duracion: 30 minutos</em></small>
</p>

<p class="text-muted text-center">
    Esta plática es una introducción a TDD usando PHPUnit donde implementaremos
    la evaluación de polinomios de una variable.
</p>
