<p class="lead text-center">Creando la arquitectura MVC desde PHP</p>
<p class="text-muted text-center">
    En la actualidad muchos desarrolladores web necesitamos de un patrón de diseño para poder realizar proyectos más
    rápidamente, para ello existen los frameworks con arquitectura MVC pero existen muchos y con diversas
    características.
    <br>
    En el caso de algunos programadores (mi caso), no nos gustan los frameworks o por lo menos no queremos sentirnos
    como programadores frustrados al utilizar herramientas desarrollados por otros. Este tema es extenso de tratar pero
    no es el fin de esta plática.
    <br>
    Se dará una breve introducción de como podemos crear un propio framework con la arquitectura MVC utilizando
    únicamente código puro.
</p>

{% include 'team/moisesespindola.html.twig' %}
