<p class="lead text-center">
    Program to an interface, not an implementation.
    <br>
    <small class="text-muted"><em>Duracion: 25 minutos</em></small>
</p>
<p class="text-muted text-center">
    En esta charla se intentará explicar por medio de un ejemplo de código el <em>Design Principle</em> de <em>Program to an 'interface', not an 'implementation.</em>
</p>

{% include 'team/jmolivas.html.twig' %}