<p class="lead text-center">
    Single Page Apps
    <br>
    <small class="text-muted"><em>Duración: 30 minutos</em></small>
</p>

<p class="text-muted text-center">
    La web ha evolucionado desde una colección de documentos entrelazados a una
    plataforma de distribución de aplicaciones. Debido a que muchas aplicaciones
    modernas mueven muchos datos en muy poco tiempo las SPA son el enfoque que
    ha florecido en la actualidad.
</p>
