<img src="/images/community/adrianlopez.jpg" class="img-responsive img-circle center-block" alt="Adrian López">
<p class="lead text-center">
    Adrian López
    <br>
    <small class="text-muted">Tech Entrepreneur</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="https://twitter.com/ealv68" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://mx.linkedin.com/in/adrianlopezentrepreneur" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
    <li><a href="https://www.facebook.com/ealv68" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
</ul>
