<img src="/images/community/dmouse.jpg" class="img-responsive img-circle center-block" alt="David Flores">
<p class="lead text-center">
    David Flores
    <br>
    <small class="text-muted">Teach Lead @IndavaIT</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="https://twitter.com/dmouse" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://github.com/dmouse" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
</ul>
