<img src="/images/community/garridomartell.png" class="img-responsive img-circle center-block" alt="Christopher">
<p class="lead text-center">
    Cristopher Garrido Martell
    <br>
    <small class="text-muted">Wordpress Advocate <br>& Marketing Digital lover</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="https://facebook.com/garridomartell" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
    <li><a href="https://twitter.com/garridomartell" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/in/gmartellcristopher" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
    <li><a href="https://plus.google.com/+CristopherGarridoMartell" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
</ul>
