<img src="/images/community/igasi.jpg" class="img-responsive img-circle center-block" alt="Isaac">
<p class="lead text-center">
    Isaac Gasi
    <br>
    <small class="text-muted">Desarrollador Web Drupal</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://igasi.github.io/" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/isaac_gasi" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/in/isaacgasi" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
    <li><a href="https://github.com/igasi" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
</ul>
