<img src="/images/community/jesuscruz.jpg" class="img-responsive img-circle center-block" alt="Jesús">
<p class="lead text-center">
    Jesús Israel Cruz
    <br>
    <small class="text-muted">Desarrollador Web</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="https://twitter.com/Dantaex" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
</ul>
