<img src="/images/community/jimmylagp.jpg" class="img-responsive img-circle center-block" alt="Luis Gómez">
<p class="lead text-center">
    Luis Antonio Gomez
    <br>
    <small class="text-muted">Fundador de HTML5 Fácil</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://html5facil.com" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/jimmylagp" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://github.com/jimmylagp" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
    <li><a href="https://mx.linkedin.com/in/jimmylagp" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
</ul>
