<img src="/images/community/jmolivas.jpg" class="img-responsive img-circle center-block" alt="Jesús">
<p class="lead text-center">
    Jesus Manuel Olivas
    <br>
    <small class="text-muted">Developer</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://jmolivas.com/" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/jmolivas" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/in/jmolivas" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
    <li><a href="https://github.com/jmolivas" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
</ul>