<!-- img src="/images/community/jmolivas.jpg" class="img-responsive img-circle center-block" alt="Juan" -->
<p class="lead text-center">
    Juan Rogelio Franco
    <br>
    <small class="text-muted">Desarrollador PHP</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://digitalizandote.com/" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/JuanDiabloKing" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://www.facebook.com/ComunidadPDBA" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
    <li><a href="https://github.com/juanframart2011" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
</ul>
