<img src="/images/community/gordian.jpg" class="img-responsive img-circle center-block" alt="Miguel Gordian (zoek)">
<p class="lead text-center">
    Miguel Angel Gordian
    <br>
    <small class="text-muted">Hacker Cívico</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://zoek1.github.io" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/ilcapitanozoek" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://github.com/zoek1" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
    <li><a href="https://www.google.com/+MiguelAngelGordian" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
</ul>
