<img src="/images/community/profesorantonio.png" class="img-responsive img-circle center-block" alt="Antonio">
<p class="lead text-center">
    Antonio Ortíz
    <br>
    <small class="text-muted">Docente</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="http://profesor.antonio.com.mx/" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
    <li><a href="https://twitter.com/profesorAntonio" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="http://mx.linkedin.com/in/profesorantonio" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
</ul>
