<img style="width: 100px; height: 100px" src="/images/community/pronuer.jpg" class="img-responsive img-circle center-block" alt="Claudio Morales">
<p class="lead text-center">
    Claudio Morales
    <br>
    <small class="text-muted">Evangelist Microsoft Openness</small>
</p>
<ul class="list-inline social-buttons text-center">
    <li><a href="https://twitter.com/pronuer" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://facebook.com/pronuer" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
    <li><a href="http://www.comunidaddephp.org/" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
</ul>
