<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    El front-end con componentes (React.js)
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="talk panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {% include 'meetups/talks/front-end-componentes-reactjs.html.twig' %}
            </div>
        </div>
    </div>
</div>
