<p class="lead">FCC BUAP, Módulo 4</p>
<address>14 Sur y Avenida San Claudio, Ciudad Universitaria, Puebla, Pue</address>
<div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.3297837074106!2d-98.20441870000005!3d19.005184400000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfbf58ad2399d1%3A0xb517171394a5208b!2sFacultad+de+Ciencias+de+la+Computaci%C3%B3n+-+BUAP!5e0!3m2!1ses-419!2smx!4v1436968241050">
    </iframe>
</div>
